# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code-project\sof3021-sd17320\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
